* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto;
}

img {
    max-width: 100%;
}
header {
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.icons {
    display: flex;
    gap: 16px;

}

a {
    text-decoration: none;
}

#search {
    width: 208px;
    height: 32px;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    color: #9C9C9C;
    font-family: Roboto;

}


.recomands_user {
    width: 320px;
    height: 352px;
    position: absolute;
    top: 15%;
    left: 67%;
    
}

.nickname_user {
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    margin-bottom: 24px;
}

.nick {
    display: flex;
    flex-direction: column;
    margin-left: 16px;

}

.avater {
    background-color:  #E5E5E5;
;
    width: 64px;
    height: 64px;
    border-radius: 50%;

}

.big_nick {
    width: 64px;
    height: 16px;
    font-size: 14px;

}

.small_nick {
    width: 86px;
    height: 16px;
    font-size: 12px;
    color:  #8E8E8E;

}


.btn_swich button {
    margin-left: 117px;
    border: none;
    color:#0095F6;
    background-color: white;

}

.Suggestions {
    font-size: 12px;
    color:#8E8E8E;

}

.See {
    font-size: 12px;
    margin-left: 166px;
}


.nickname {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
}

.avater_nick {
    background-color:#E5E5E5;

    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nick2 {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.big_nick2 {
    width: 64px;
    height: 16px;
    font-size: 14px;
}


.small_nick2 {
    width: 86px;
    height: 16px;
    font-size: 12px;
    color: #8E8E8E;
}

.btn_swich2 button {
    margin-left: 150px;
    border: none;
    color:#0095F6;
    background-color: white;
}

.story {
    width: 716px;
    height: 120px;
    position: absolute;
    top: 15%;
    left: 10%;
    border: 1px solid #DBDBDB;
    display:flex;
    flex-direction: row;
    overflow: hidden;
}
.story1 {
    
    width: 80px;
    height: 88px;
    margin: 16px 16px 16px 16px;
}

.around_story {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #E6E6E6;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 16px;
    overflow: hidden;
    
}
.around_story img {
   
    border-radius: 50%;
    
}

.nickname_story {
    font-size: 12px;
    margin-left: 10px;
}